.Menu{
    display: flex;
    justify-content: flex-end;
    margin-right: 0%;
}

.menuItem{
    color:#fff;
    font-size: 1rem;
    margin-left: 1rem;
    padding-right: 10px;
    padding-left: 2px;
    letter-spacing: 1;
    height:max-content;
    background: linear-gradient(to left, #111 50%, rgb(255, 230, 0) 50%) right;
    background-size: 200% 100%;
}

.menuItem:last-child::after {
  content: url(../../Assets/Images/external-link.svg);
  display: inline-block;
  width: 16px;
  height: 16px;
  filter: brightness(0) saturate(100%) invert(100%);
}

.menuItem:last-child:hover::after {
  content: url(../../Assets/Images/external-link.svg);
  display: inline-block;
  width: 16px;
  height: 16px;
  filter: brightness(0) saturate(100%) invert(0);
  transition: all 0.8s ease;
}

.menuItem:hover{
    color: #111;
    background-position: left;
    transition: all 0.8s ease;
}

.active-link{
    color: #111;
    background-position: left;
    transition: all 0.8s ease;
}


a{
    color:white;
    text-decoration: none;
}

@media only screen and (max-width: 800px){
    .Menu{
        display: flex;
        justify-content: flex-start;
        align-content: flex-start;
        margin-bottom: 2rem;
        
        width:100%;
    }

    .menuItem{
        margin-left: 0rem;
        margin-right: 1rem;
    }
  }

  @keyframes run {
    0% {
      left: 0;
    }
    50% {
      left: 100%;
    }
    100% {
      left: 0;    
    }
  }