.preview-image{
    width:100%;
    height: 95%;
    object-fit:cover;
}

.preview--outer-container{
    justify-content: flex-start !important;
    padding-top: 3rem;
    
}

.preview--container{
    height: 60vh;
    margin-bottom: 1rem;
    
}

.preview-images--container{
    display: flex;
}

@media only screen and (min-width:1512px) {
    .preview--container{
        height: 500px;     
    }
}