.text--container{
    display: flex;
    padding:0 0;
    margin-right: 0;
    justify-content: flex-start;
}

.image-content{
    width:100%;
    object-fit:contain;
    margin-bottom: 0.5rem;
}

.image-mobile{
    width: 96.28vw;
}

.image-desktop{
    width: 100%;
}